body {
  color: rgba(0, 0, 0, 0.8);
   /*font-size: 18px;*/
}

.all {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.whatido {
  padding: 40px;
}
.whatido-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.body-content{
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top-header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.aboutme-content .card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
}

.aboutme{
  background-color: #F8F8F8;
  padding: 40px;
  /*border: 1px solid #4CAF50;*/
}

.recent-project {
  padding: 40px;
}
.recent-project-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
}

.footer-content {
  text-align: center;
  color: white;
}



/* text animation */
.txt-rotate{
  box-shadow: inset 0 0px 0 white, inset 0 -5px 0 rgb(238, 194, 109);
}

.myboxshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  background-color: #f5af19;
  color: white;
}

.btn1 {
  color: #f5af19;
}

.btn:hover{
  background-color: #d6af62;
  color: white;
}

.btn1:hover{
  color: #d6af62;
  text-decoration: none;
}

.profile_picture {
	max-width: 100%; 
	height:auto;
}

.link-colour{
  color: white;
}
/*
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
*/

/* DROP DOWN NAV*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding-left: 10px;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

.card {
  border: none;
}

/* Scroll animation UI design */

.card-text{
	color: rgba(0, 0, 0, 0.5);
}



.header {
	color: rgb(89, 96, 104);
}


@media screen and (min-width: 601px) {
  .card-des  {
    font-weight: 250;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .card-des {
    font-weight: 250;
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) {
  .card-title  {
  	font-weight: 700;
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .card-title {
  	font-weight: 700;
    font-size: 40px;
  }
}

@media screen and (min-width: 601px) {
  .hello-header  {
    font-weight: 700;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .hello-header {
    font-weight: 500;
    font-size: 23px;
  }
}

@media screen and (min-width: 601px) {
  .hello-des  {
    font-weight: 700;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .hello-des {
    
    font-weight: 500;
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) {
  .card-title1  {
  	font-weight: 700;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .card-title1 {
  	
  	font-weight: 700;
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  .card-p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .card-p{
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) {
  .card-text {
  	
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .card-text{
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) {
  .meditable {
    
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .meditable{
    font-size: 12px;
  }
}




/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone 11 ----------- */
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { }


/* ----------- iPhone 11 Pro ----------- */
/* 2436x1125px at 458ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { }

/* ----------- iPhone 11 Pro Max----------- */
/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}


/* blog link */
.card-title1 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

rect:hover{
  opacity: 0.5;
}

/* 
*/

.myproject {
  background: linear-gradient(54deg, #E4BE76, #F4E9D5);
  
  overflow-x: hidden;
  padding-bottom: 50px;
  text-align: center;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px; /*middle line */
  margin: 0 auto;
  padding-top: 100px;
  background: black;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: black;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px; /* box width */
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  width: 120px; /* yellow box width*/
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.timeline time {
  color: white;

}
.timeline ul li div div {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div p {
  text-align: left;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline h1 {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 901px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 95%;
    height: 95%;
    margin: 5px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: white;
  }

  .timeline ul li {
    margin-left: 10px;
  }
  .timeline ul li div {
    width: calc(100vw - 121px); /* (100vw - 91px)*/
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}

@media screen and (max-width: 400px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 95%;
    height: 95%;
    margin: 5px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}




